*,
::after,
::before {
    --super-light-color: rgb(243, 244, 245);
    --light-color: rgb(217, 232, 241);
    --medium-color: rgb(187, 209, 224);
    --dark-color: rgb(15, 32, 65);
    --page-width: 60%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--super-light-color);
    font-family: "Montserrat", sans-serif;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}


.nav-wrapper {
    width: 100%;
    padding: 16px 0;
    top: 0px;
    background-color: var(--light-color);
    position: fixed;
    z-index: 1;
}

.navbar {
    width: var(--page-width);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

.navbar span {
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 26px;
}

.navbar li {
    text-align: center;
    padding: 8px 24px;
    border-radius: 10px;
    min-width: 80px;
}

.navbar li:hover {
    background: var(--dark-color);
    cursor: pointer;
    color: var(--light-color);
}

.header-wrapper {
    margin-top: 70px;
    background: var(--dark-color);
}

header {
    width: var(--page-width);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    isolation: isolate;
}

.slider-button {
    min-height: 55px;
    min-width: 55px;
    text-align: center;
    border-radius: 50%;
    z-index: 1;
    font-size: 1.4rem;
    border: none;
}

.carousel {
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    margin: 0px 20px;
}

.card {
    min-height: 330px;
    max-height: 330px;
    min-width: 230px;
    max-width: 230px;
    padding: 10px;
    margin: 50px 10px;
    background: var(--medium-color);
    border-radius: 20px;
}

.carousel .card:hover {
    transition: all 1s ease;
    filter: drop-shadow(0px 0px 50px);
    border-radius: 10px;
    box-shadow: 0 0 10px 20px rgba(250, 245, 245, 0.5), 0 0 10px 10px hsl(0, 30%, 95%);
}

.left.slider-button {
    margin-right: -50px;
}

.right.slider-button {
    margin-left: -50px;
}

main {
    width: 100%;
    isolation: isolate;
}

.filter-bar {
    width: var(--page-width);
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-bar span {
    font-size: 1.4em;
    font-family: sans-serif;
    font-weight: 300;
}

.filter-bar ul {
    list-style: none;
    color: var(--dark-color);
    display: flex;
    gap: 24px;
}

.filter-bar li {
    padding-bottom: 4px;
}

.filter-bar li:hover {
    transition: all 0.2s ease;
    box-shadow: 0 -4px 0px -1px black inset;
    cursor: pointer;
}

.marketplace {
    padding: 48px;
    width: var(--page-width);
    background-color: var(--dark-color);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.food-card {
    min-height: 330px;
    max-height: 330px;
    min-width: 230px;
    max-width: 230px;
    padding: 10px;
    background: var(--medium-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: space-between;
}

.food-card:hover {
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 50px);
    border-radius: 10px;
    box-shadow: 0 0 10px 20px rgba(250, 245, 245, 0.5), 0 0 10px 10px hsl(0, 30%, 95%);
}

.food-img {
    width: 100%;
    height: 200px;
}

.food-details {
    width: 100%;
}

.food-name,
.food-category {
    width: 100%;
    height: 20px;
}

.food-card-last-row {
    display: flex;
    width: 100%;
    min-height: 60px;
}

.food-card-last-row span {
    flex: 1;
    text-align: center;
}